<%= form_for @article do |f| %>

  <div class="form-group article-title">
    <%= f.text_field :title, class: 'form-control', placeholder: 'Title' %>
  </div>

  <div class="form-group article-text">
    <%= f.text_area :text, class: 'form-control', rows: '35%', placeholder: 'Type your article here...' %>
  </div>

  <p>
    <%= f.submit 'Post as ' + current_user.email, class: 'btn btn-default btn-primary' %>
  </p>

<% end %>
