// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.text-preview {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.article {
  text-align: left;
}
.article-title {
  font-weight: bold;
  font-size: 2.25em;
}

.article-author {
  font-style: italic;
  font-size: 1.5em;
}

.article-text {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.25em;
}

.right-align {
  float: right;
}

.clickable {
  cursor: pointer;
  &:hover {
    box-shadow: 0px 1px 3px;
  }
  &:active {
    box-shadow: 0px 1px 3px inset;
  }
}

.glyphicon-active {
  color: blue;
}
